* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial;
}

/* body{
    background-image: url("./Accets/body-bg.png");
} */
.img-bar {
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #f5f5f5;
    box-shadow: 0px 12px 11px -10px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px 12px 11px -10px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 12px 11px -10px rgba(0, 0, 0, 0.65);
}

.img-bar img {
    border: 1px solid black;
    padding: 2px;
}

/* top row top images nav-bar completed */
.text-icon-navbar {
    padding-top: 5px;
    background: white;
    height: 105px;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 3px solid #f5f5f5;
    margin-bottom: 5px;
}

.nav-list {
    width: 73%;
    display: flex;
    justify-content: space-evenly;
}

.nav-list img {
    height: 30px;
    position: absolute;
    top: 12%;
}

.icons {
    list-style-type: none;
    height: 100%;
    width: 14%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 23px;
    padding-top: 25px;
    font-size: 0.90rem;
}

.icon1:hover {
    background-color: #919191;
    color: white;
}

.icon2:hover {
    background-color: #e3350d;
    color: white;
}

.icon3:hover {
    background-color: #ee6b2f;
    color: white;
}

.icon4:hover {
    background-color: #e6bc2f;
    color: white;
}

.icon5:hover {
    background-color: #4dad5b;
    color: white;
}

.icon6:hover {
    background-color: #30a7d7;
    color: white;
}

.icon7:hover {
    background-color: #1b53ba;
    color: white;
}

/* for rainbow color bottom i add background list and give li to same property so it's show as bottom rainbow colors*/
.bg-list {
    width: 73%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 11px;
    height: 100px;
}

.bgicon1 {
    background-color: #919191;
    border-bottom-left-radius: 10px;
}

.bgicon2 {
    background-color: #e3350d;
}

.bgicon3 {
    background-color: #ee6b2f;
}

.bgicon4 {
    background-color: #e6bc2f;
}

.bgicon5 {
    background-color: #4dad5b;
}

.bgicon6 {
    background-color: #30a7d7;
}

.bgicon7 {
    background-color: #1b53ba;
    border-bottom-right-radius: 10px;
}

/* header complete but position sticky in not working so i apply it later */
main {
    background-image: url("./Accets/body-white-bg.png");
    background-size: contain;
    background-repeat: repeat;
    /* height:500px; */
}

/* top images section box 1 mean 1 images box start */
.first-section {
    width: 900px;
    background-color: white;
    padding: 30px 0px;
    margin: 0PX 14.5%;
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 0.8fr;
    grid-template-rows: auto 1fr;
    ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.img1-box {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    grid-row: 1/3;
    grid-column: 1/3;
}

.img1-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box1-content {
    background-color: rgb(217, 116, 217);
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box1-content h2 {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}

.box1-content p {
    padding: 8px 15px 35px 5px;
    font-size: 1rem;
    color: purple;
    font-weight: 500;
}

/* top image section 2box 2image started */
.img2-box {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 3/4;
    overflow: hidden;
    /* height:200px; */
}

.box2-content {
    background-color: rgb(55, 47, 55);
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.img2-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box2-content h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 15px 35px 5px;
}

/* top images section 3box 3image started */
.img3-box {
    display: flex;
    flex-direction: row;
    grid-row: 2/3;
    grid-column: 3/4;
    width: 100%;
    overflow: hidden;
    /* height:200px; */
}

.box3-content {
    background-color: #4dad5b;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50%;
}

.img3-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.box3-content h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 15px 35px 5px;
}

/* top images section 4box 4image started */
.img4-box {
    display: flex;
    flex-direction: column;
    grid-row: 3/4;
    grid-column: 1/2;
    width: 100%;
    overflow: hidden;
    /* height:300px; */
}

.img4-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.box4-content {
    background-color: #1b53ba;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box4-content h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 15px 35px 5px;
}

/* top images section 5box 5image started */
.img5-box {
    display: flex;
    flex-direction: column;
    grid-row: 3/4;
    grid-column: 2/3;
    width: 100%;
    overflow: hidden;
    /* height:300px; */
}

.img5-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.box5-content {
    background-color: #e6bc2f;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box5-content h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 15px 35px 5px
}

/* top images section 6box 6image started */
.img6-box {
    display: flex;
    flex-direction: column;
    grid-row: 3/4;
    grid-column: 3/4;
    width: 100%;
    overflow: hidden;
    /* height:450px; */
}

.img6-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.box6-content {
    background-color: #919191;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box6-content h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 15px 35px 5px;
}

/* This images box completed it's really take every time */
/* (Vertalcal pokemons boxes) top box inside heading */
.top-box-name {
    align-items: center;
    display: flex;
    gap: 20px;
    background-color: #232323;
    width: 250px;
    margin-left: 150px;
    height: 60px;
    position: relative;
    top: 80px;
}

.top-box-name img {
    height: 32px;
    position: relative;
    left: 12px;
    color: white;
}

.top-box-name p {
    color: #919191;
    font-size: 1.3rem;
}

/* start main vertical box */
.vertical-boxes-pokemon {
    display: flex;
    justify-content: center;
    height: 400px;
    cursor: pointer;
}

.ver-boxes {
    width: 18%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    opacity: 0.9;
}

.ver-img-plus-con-box {
    height: 70%;
    background-color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ver-img-plus-con-box p {
    position: absolute;
    top: 15px;
    font-size: 7rem;
    color: #919191b0;
    opacity: 0.9;
    z-index: 1;
}

.ver-img-plus-con-box img {
    width: 95%;
    position: absolute;
    z-index: 2;
    opacity: 0.6;
}

.ver-content-box {
    height: 30%;
    background-color: #232323;
}

.ver-content-box p {
    font-size: 1.6rem;
    color: white;
    padding: 15px 0px 0px 15px;
}

/* pokemon featured box 3 started */
.verbox3-img-plus-con img {
    opacity: 1;
    top: -56px;
}

.ver-box3 {
    flex-grow: 2;
    opacity: 1;
    height: 450px;
}

.verbox3-img-plus-con {
    height: 62%;
}

.verbox3-content-box {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 38%;
    background-color: #232323;
    color: white;
    padding: 15px 0px 0px 15px;
    cursor: pointer;
}

.pokemon-box3-info1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 0px;
    font-size: 1.6rem;
}

.pokemon-box3-info2-3 {
    display: flex;
}

.pokemon-box3-info2-3 p {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 10px;
}

.pokemon-type-name {
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 300;
    width: 80px;
    height: 30px;
    margin-top: 6px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #f366b9;
}

/* box 3 completed */
.bottom-box-name {
    position: relative;
    left: 730px;
    margin-top: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #232323d4;
    width: 220px;
    margin-left: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-box-name p {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
}

/* left&rigth arrow top on images */
.arrow-box-L {
    height: 80px;
    width: 80px;
    border-radius: 6px 6px 6px 20px;
    background-color: #232323;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40px;
    top: 222px;
    z-index: 999;
}

.arrow-box-L img {
    padding-right: 20px;
}

.arrow-box-L:hover {
    opacity: 1;
    cursor: pointer;
}

.arrow-box-R {
    height: 80px;
    width: 80px;
    border-radius: 6px 6px 20px 6px;
    background-color: #232323;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1150px;
    bottom: 350px;
}

.arrow-box-R img {
    padding-left: 20px;
}

.arrow-box-R:hover {
    opacity: 1;
    cursor: pointer;
}

/* Section third started */
.third-section {

    width: 900px;
    background-color: white;
    padding: 30px 0px;
    margin: 0PX 14.5%;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

/* section-third box 1 started */
.T-Sect-img1-box {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
    width: 100%;
}

.T-Sect-img1-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.T-Sect-box1-content {
    background-color: #4dad5b;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.T-Sect-box1-content h2 {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}

.T-Sect-box1-content p {
    padding: 8px 15px 35px 5px;
    font-size: 1rem;
    color: #0e2011;
    font-weight: 500;
}

/* section-third box 2 started */
.T-Sect-img2-box {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1/2;
    overflow: hidden;
    width: 100%;
}

.T-Sect-img2-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.T-Sect-box2-content {
    background-color: #e6bc2f;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.T-Sect-box2-content h2 {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}

.T-Sect-box2-content p {
    padding: 8px 15px 35px 5px;
    font-size: 1rem;
    color: #212121;
    font-weight: 500;
}

/* section-third box 3 started */
.T-Sect-img3-box {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    overflow: hidden;

}

.T-Sect-img3-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.T-Sect-box3-content {
    background-color: #ee6b2f;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.T-Sect-box3-content h2 {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}

.T-Sect-box3-content p {
    padding: 8px 15px 35px 5px;
    font-size: 1rem;
    color: #4b1c06;
    font-weight: 500;
}

/* section-third box 4 started */
.T-Sect-img4-box {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    overflow: hidden;
}

.T-Sect-img4-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.T-Sect-box4-content {
    background-color: #1b53ba;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.T-Sect-box4-content h2 {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}

.T-Sect-box4-content p {
    padding: 8px 15px 35px 5px;
    font-size: 1rem;
    color: #30a7d7;
    font-weight: 500;
}

/* section-third box 5 started */
.T-Sect-img5-box {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
    overflow: hidden;
    width: 100%;
}

.T-Sect-img5-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.T-Sect-box5-content {
    background-color: #313131;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.T-Sect-box5-content h2 {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}

.T-Sect-box5-content p {
    padding: 8px 15px 35px 5px;
    font-size: 1rem;
    color: #ccccb8;
    font-weight: 500;
}

/* section-third box 6 started */
.T-Sect-img6-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 3/4;
    overflow: hidden;
    grid-row: 2/3;
}

.T-Sect-img6-box img {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.T-Sect-box6-content {
    background-color: #c7aa79;
    padding: 15px 0px 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.T-Sect-box6-content h2 {
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}

.T-Sect-box6-content p {
    padding: 8px 15px 35px 5px;
    font-size: 1rem;
    color: #5c492c;
    font-weight: 500;
}

/* section-third box 7 started */
.T-Sect-img7-box {
    width: 100%;
    grid-column: 3/4;
    grid-row: 3/4;
    overflow: hidden;
}

.T-Sect-box7-content {
    display: flex;
    flex-direction: column;
}

.T-Sect-box7-content h2 {
    padding:10px 15px;
    background-color: #ee6b2f;
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.T-Sect-box7-content p {
    color: #0a2631;
    background-color: #30a7d7;
    padding: 8px 15px 35px 15px;
    font-weight: 500;
    font-size: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* footer starting */