* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial;
}
/* body{
    background-image: url("./Accets/body-bg.png");
} */
.img-bar {
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #f5f5f5;
    box-shadow: 0px 12px 11px -10px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px 12px 11px -10px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 12px 11px -10px rgba(0, 0, 0, 0.65);
}

.img-bar img {
    border: 1px solid black;
    padding: 2px;
}

/* top row top images nav-bar completed */
.text-icon-navbar {
    padding-top: 5px;
    background: white;
    height: 105px;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 3px solid #f5f5f5;
    margin-bottom: 5px;
}

.nav-list {
    width: 73%;
    display: flex;
    justify-content: space-evenly;
}

.nav-list img {
    height: 30px;
    position: absolute;
    top: 12%;
}

.icons {
    list-style-type: none;
    height: 100%;
    width: 14%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 23px;
    padding-top: 25px;
    font-size: 0.90rem;
}

.icon1:hover {
    background-color: #919191;
    color:white;
}

.icon2:hover {
    background-color: #e3350d;
    color:white;
}

.icon3:hover {
    background-color: #ee6b2f;
    color:white;
}

.icon4:hover {
    background-color: #e6bc2f;
    color:white;
}

.icon5:hover {
    background-color: #4dad5b;
    color:white;
}

.icon6:hover {
    background-color: #30a7d7;
    color:white;
}

.icon7:hover {
    background-color: #1b53ba;
    color:white;
}

/* for rainbow color bottom i add background list and give li to same property so it's show as bottom rainbow colors*/
.bg-list {
    width: 73%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 11px;
    height: 100px;
}

.bgicon1 {
    background-color: #919191;
    border-bottom-left-radius: 10px;
}

.bgicon2 {
    background-color: #e3350d;
}

.bgicon3 {
    background-color: #ee6b2f;
}

.bgicon4 {
    background-color: #e6bc2f;
}

.bgicon5 {
    background-color: #4dad5b;
}

.bgicon6 {
    background-color: #30a7d7;
}

.bgicon7 {
    background-color: #1b53ba;
    border-bottom-right-radius: 10px;
}
/* header complete but position sticky in not working so i apply it later */
main{
    background-image: url("./Accets/body-white-bg.png");
    background-size: contain;    /* height:500px; */
}
/* top images section box 1 mean 1 images box start */
.first-section{
    width:900px;
    background-color: white;
    padding: 30px 0px;
    margin:0PX 14.5%;
    display:grid;
    grid-template-columns: 1.1fr 1.1fr 0.8fr;
    grid-template-rows: auto 1fr;;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}
.img1-box{
    padding-top:10px;
    display: flex;
    flex-direction: column;
    width:100%; overflow:hidden;
    border-radius:8px;
    grid-row: 1/3;
    grid-column: 1/3;
}
.img1-box img{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box1-content{
    background-color: rgb(217, 116, 217);
    padding: 15px 0px 0px  10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}   
.box1-content h2{
    font-size: 1.4rem;
    color:white;
    font-weight: 400;    
}
.box1-content p{
    padding:8px 15px 35px 5px; 
    font-size: 1rem;
    color:purple;
    font-weight: 500;
}
/* top image section 2box 2image started */
.img2-box{
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 3/4;
    overflow:hidden;
    /* height:200px; */
}
.box2-content{
    background-color: rgb(55, 47, 55);
    padding: 15px 0px 0px  10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.img2-box img{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box2-content h2{
        color:white;
    font-size:1.4rem;
    font-weight:400; 
    padding:8px 15px 35px 5px;
}
/* top images section 3box 3image started */
.img3-box{
    display: flex;
    flex-direction: row;
    grid-row: 2/3;
    grid-column: 3/4;
    width:100%; overflow:hidden;
    /* height:200px; */
}
.box3-content{
    background-color: #4dad5b;
    padding: 15px 0px 0px  10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width:50%;
}
.img3-box img{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.box3-content h2{
    color:white;
    font-size:1.4rem;
    font-weight:400; 
    padding:8px 15px 35px 5px; 
}
/* top images section 4box 4image started */
.img4-box{
    display:flex;
    flex-direction:column;
    grid-row: 3/4;
    grid-column: 1/2;
       width:100%; overflow:hidden;
    /* height:300px; */
}
.img4-box img{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.box4-content{
    background-color: #1b53ba;
    padding: 15px 0px 0px  10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box4-content h2{
    color:white;
    font-size:1.4rem;
    font-weight:400; 
    padding:8px 15px 35px 5px;
}
/* top images section 5box 5image started */
.img5-box{
    display:flex;
    flex-direction:column;
    grid-row: 3/4;
    grid-column: 2/3;
       width:100%; overflow:hidden;
    /* height:300px; */
}
.img5-box img{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.box5-content{
    background-color: #e6bc2f;
    padding: 15px 0px 0px  10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box5-content h2{
    color:white;
    font-size:1.4rem;
    font-weight:400; 
    padding:8px 15px 35px 5px
}
/* top images section 6box 6image started */
.img6-box{
    display: flex;
    flex-direction:column;
    grid-row: 3/4;
    grid-column: 3/4;
      width:100%; overflow:hidden;
    /* height:450px; */
}
.img6-box img{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.box6-content{
    background-color: #919191;
    padding: 15px 0px 0px  10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box6-content h2{
    color:white;
    font-size:1.4rem;
    font-weight:400;
    padding:8px 15px 35px 5px;
}
/* This images box completed it's really take every time */
/* footer starting */